<a href="https://colab.research.google.com/github/JuliaValerio/Introduction-to-Data-Science/blob/master/Opera%C3%A7%C3%B5es_b%C3%A1sicas_exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vamos praticar um pouco?

### Faça algumas operações matemáricas básicas com os operadores `+ - / *`

In [1]:
5+5

10

In [ ]:
#@title  { display-mode: "form" }
10+32
50-8
8/2
5*5

### Eleve o número 8 ao quadrado com o operador `**`

In [2]:
8**2

64

In [ ]:
#@title  { display-mode: "form" }
8**2

### Tire a raíz quadrada do número 64 com o operador `**`

In [3]:
5**(-1/2)

0.4472135954999579

In [ ]:
#@title  { display-mode: "form" }
64**0.5

### Mostre somente a parte inteira da divisão: 20 dividido por 3

In [4]:
20//3

6

In [ ]:
#@title  { display-mode: "form" }
20//3

Mostre o resto da divisão: 20 dividido por 3

In [5]:
20%3

2

In [ ]:
#@title  { display-mode: "form" }
20%3

### Guarde na variável `nome` o seu nome e na variável `idade` a sua idade

In [6]:
nome = 'julia'
idade= 24

In [ ]:
#@title  { display-mode: "form" }
nome = "Rogério"
idade = 35

### Verifique e imprima qual o tipo das variáveis `nome` e `idade` com a função `type()`

In [11]:
type(nome)
type(idade)
print(nome, type(nome))
print(idade, type(idade))

julia <class 'str'>
24 <class 'int'>

In [ ]:
#@title  { display-mode: "form" }
print(type(nome))
print(type(idade))

### Lembra do teorema de Pitágoras?
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Rtriangle.svg/1024px-Rtriangle.svg.png" width="350">

Basicamente, lembre que podemos descobrir o valor de um dos lados de um triângulo retângo com a seguinte fórmula `c²=a²+b²`

Se o lado **a** tem **3cm** e o lado **b** tem **4cm**, quantos cm tem o lado **c**?

In [17]:
a = 3
b = 4
c =  0

c = a + b
 
c = c ** 2

c = c ** (-1/2)

c

0.14285714285714285

In [ ]:
#@title  { display-mode: "form" }
a = 3
b = 4
c = (a**2+b**2)**0.5

print(c)

### (Debugging) Encontre e corrija o erro do código abaixo

In [18]:
a = 10
b = 20
c = a + b

print(c)

30

In [ ]:
#@title  { display-mode: "form" }
a = 10
b = 20
c = a + b

print(c)